.pink{
    background-color: rgb(245, 135, 159);
    font-family: verdana, "Dejavu Sans", sans-serif;
}
.cool{
    font-size: 24px;
}
#two{
    color:rgb(0, 0, 255);
    font-size: 36px;

}
#four{
background-color: rgb(149, 253, 149);
font-size: 24px;
font-weight: bold;
}